<% if flash.has?(:message) %>
    <p class="font-danger"><%= flash[:message] %></p>
<% end %>

<form action="/login" method="post">
    <input type="email" placeholder="email" name="user[email]">
    <input type="password" placeholder="password" name="user[password]">
    <input type="submit" value="Login">
</form>