<div class="search-form-container">
    <form action="/cocktails/search" method="get" class="search-form">
        <div class="form-field">
            <input type="text" placeholder="search by name" name="search[name]">
        </div>
        <div>
            <p>OR</p>
        </div>
        <div class="form-field">
            <input type="text" placeholder="search by ingredient" name="search[ingredient]">
        </div>
        <div class="form-footer">
            <input type="submit" value="search">
        </div>
    </form>
</div>