<div class="auth-form-container">
    <% if flash.has?(:messages) %>
        <% flash[:messages].each do |m|%>
            <p class="font-danger"><%= m %></p>
        <% end %>
    <% end %>


    <form action="/signup" method="post" class="auth-form">
        <div class="form-header">
            <h3>Create Account<h3>
        </div>
        <div class="form-field">
            <input type="text" placeholder="name" name="user[name]">
        </div>
        <div class="form-field">
            <input type="email" placeholder="email" name="user[email]">
        </div>
        <div class="form-field">
            <input type="password" placeholder="password" name="user[password]">
        </div>
        <div class="form-footer">
            <input type="submit" value="signup">
        </div>
    </form>
</div>