<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    <title>Sinatra Cocktails</title>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul class="nav">
            <li><a href="/" class="icon"><img src="/images/cocktail-icon.png" alt="cocktail icon" class="icon"></a></li>
            <li><a href="/cocktails" class="nav-link">My Cocktails</a></li>
            <li><a href="/search" class="nav-link">Search</a></li>
            <% if !logged_in? %>
                <li><a href="/signup" class="nav-link">Signup</a></li>
                <li><a href="/login" class="nav-link">Login</a></li>
            <% end %>
        </ul>
    </nav>
    
    <!-- Main Content -->
    <div class="main">
        <%= yield %>
        
        <!-- Logout Button -->
        <% if logged_in? %>
            <form action="/logout" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Logout">
            </form>
        <% end %>
    </div>

</body>
</html>